code-review-resources/src/main/resources/bw-core/CodeReview/CodeReview/Resources/WSDL/CodeReview-abstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:pfx0="http://www.fastconnect.fr/FCTibcoFactory/CodeReview.xsd" xmlns:tns="http://www.fastconnect.fr/FCTibcoFactory/ws/abstract/CodeReview.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fastconnect.fr/FCTibcoFactory/ws/abstract/CodeReview.xsd">
    <import namespace="http://www.fastconnect.fr/FCTibcoFactory/CodeReview.xsd" location="../XSD/CodeReview.xsd"/>
    <message name="code-review-msg">
        <part name="code-review" element="pfx0:code-review"/>
    </message>
    <message name="null-msg"/>
    <message name="start-in"/>
    <message name="stop-in"/>
    <message name="stop-out"/>
    <message name="start-out"/>
    <portType name="CodeReview">
        <operation name="review">
            <input message="tns:code-review-msg"/>
            <output message="tns:null-msg"/>
        </operation>
        <operation name="stopEngine">
            <input message="tns:stop-in"/>
            <output message="tns:stop-out"/>
        </operation>
        <operation name="isStarted">
            <input message="tns:start-in"/>
            <output message="tns:start-out"/>
        </operation>
    </portType>
</definitions>