code-review-resources/src/main/resources/bw-core/CodeReview/CodeReview/Resources/XSD/CodeReview.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.fastconnect.fr/FCTibcoFactory/CodeReview.xsd"
	 xmlns:ns0="http://www.fastconnect.fr/FCTibcoFactory/CodeReview/TestResult.xsd"
	 xmlns:ns1="http://www.fastconnect.fr/FCTibcoFactory/CodeReview/ReviewResult.xsd"
	 targetNamespace="http://www.fastconnect.fr/FCTibcoFactory/CodeReview.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.fastconnect.fr/FCTibcoFactory/CodeReview/ReviewResult.xsd" schemaLocation="ReviewResult.xsd"/>
	<xs:element name="code-review">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="project-path"/>
				<xs:element ref="src-project-path"/>
				<xs:element ref="destination"/>
				<xs:element ref="load-projlibs" minOccurs="0"/>
				<xs:element ref="project-encoding" minOccurs="0"/>
				<xs:element name="project-name" type="xs:string" minOccurs="0"/>
				<xs:element ref="formats" minOccurs="0"/>
				<xs:element ref="fileAliasesFile" minOccurs="0"/>
				<xs:element ref="language"/>
				<xs:element ref="disabled-rules" minOccurs="0"/>
				<xs:element ref="output-file-name" minOccurs="0"/>
				<xs:element ref="home-page" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="project-path" type="xs:string">
		<xs:annotation>
			<xs:documentation>Path to the BW project</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="src-project-path" type="xs:string">
		<xs:annotation>
			<xs:documentation>Path to the BW project source folder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="is-started" type="xs:boolean"/>
	<xs:element name="empty">
		<xs:complexType/>
	</xs:element>
	<xs:element name="destination" type="xs:string">
		<xs:annotation>
			<xs:documentation>Path where to write the review results</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="load-projlibs" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>Whether to load Projlibs when reviewing</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="formats">
		<xs:annotation>
			<xs:documentation>List of format for review results</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="format" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="format" type="xs:token"/>
	<xs:element name="fileAliasesFile" type="xs:string">
		<xs:annotation>
			<xs:documentation>Complete filename for the file aliases links. Can be exported from TIBCO Designer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="project-encoding" type="xs:string">
		<xs:annotation>
			<xs:documentation>Encoding to be used to read projects files</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="language">
		<xs:annotation>
			<xs:documentation>Language for the review result.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:enumeration value="FR"/>
				<xs:enumeration value="EN"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="disabled-rules">
		<xs:annotation>
			<xs:documentation>List of disabled rules for this review.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="disabled-rule" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="disabled-rule" type="xs:token"/>
	<xs:element name="output-file-name" type="xs:string">
		<xs:annotation>
			<xs:documentation>Optional output filename (without directory, without extension)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="home-page" type="xs:string">
		<xs:annotation>
			<xs:documentation>Optional home page href link to be displayed in HTML output</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>