code-review-resources/src/main/resources/bw-core/CodeReview/CodeReview/Resources/XSD/ReviewResult.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--

    (C) Copyright 2011-2015 FastConnect SAS
    (http://www.fastconnect.fr/) and others.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:rr="http://www.fastconnect.fr/FCTibcoFactory/CodeReview/ReviewResult.xsd"
	 xmlns:rc="http://www.fastconnect.fr/FCTibcoFactory/CodeReview/RuleCard.xsd"
	 targetNamespace="http://www.fastconnect.fr/FCTibcoFactory/CodeReview/ReviewResult.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.fastconnect.fr/FCTibcoFactory/CodeReview/RuleCard.xsd" schemaLocation="RuleCard.xsd"/>

	<!-- intermediate objects -->
	<xs:complexType name="processRuleType">
		<xs:complexContent>
			<xs:extension base="rr:RuleType">
				<xs:sequence>
					<xs:element ref="rr:process" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="activityRuleType">
		<xs:complexContent>
			<xs:extension base="rr:RuleType">
				<xs:sequence>
					<xs:element ref="rr:call" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="number-of-activity-by-process-error">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element name="max-accepted" type="xs:int"/>
						<xs:element name="process-details" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dir" type="xs:string"/>
									<xs:element name="activity-number" type="xs:int"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="global-variable-in-connection-definition-error">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element name="connection" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dir" type="xs:string"/>
									<xs:element name="xpath" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="xsdRule">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element ref="rr:xsd" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nested-loops">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element name="nested-loop" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element ref="rr:process"/>
									<xs:element name="group" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="max-depth" type="xs:short"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stack">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="project" type="xs:string"/>
				<xs:element name="call" type="xs:string"/>
				<xs:element name="group">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="type" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="invalid-imports">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element name="invalid-import" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="transition-colors">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element name="transition-color" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="transition-type" type="xs:string"/>
									<xs:element ref="rr:color"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="process-call-depth">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element ref="rr:process-call" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="max-depth" type="xs:short" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="unlabelled-transitions">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element ref="rr:transition" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="transition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:process"/>
				<xs:element name="from" type="xs:string"/>
				<xs:element name="to" type="xs:string"/>
				<xs:element ref="rr:condition"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="process-call">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:process" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="call">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:process"/>
				<xs:element ref="rr:activity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nested-transactions">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element name="nested-transaction" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="rr:process1"/>
									<xs:element ref="rr:transaction1"/>
									<xs:element ref="rr:process2"/>
									<xs:element ref="rr:transaction2"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="recursive-calls">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element ref="rr:recursive-call" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="recursive-call">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:process" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="checked-recursive" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespace-collisions">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element ref="rr:namespace-collision" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespace-collision">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:namespace"/>
				<xs:element ref="rr:file" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="unknown-jms-properties">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element ref="rr:unknown-jms-property" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="unknown-jms-property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:resource"/>
				<xs:element ref="rr:property"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="condition" type="xs:string"/>
	<xs:element name="process1" type="xs:string"/>
	<xs:element name="transaction1" type="xs:string"/>
	<xs:element name="process2" type="xs:string"/>
	<xs:element name="transaction2" type="xs:string"/>
	<xs:element name="processRule" type="rr:processRuleType"/>
	<xs:element name="activityRule" type="rr:activityRuleType"/>
	<xs:element name="xsd">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dir" type="xs:string"/>
				<xs:element name="namespace" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourceRule">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element ref="rr:resource" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!-- result schema -->
	<xs:element name="review-result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:general" minOccurs="0"/>
				<xs:element ref="rr:errors" minOccurs="0"/>
				<xs:element ref="rr:additional-data" minOccurs="0"/>
				<xs:element name="aggregated-grades" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="aggregated-grade" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="category" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="categories" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="rc:category" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="rule" type="rr:RuleType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>

			<!--
					<xs:complexType>
						<xs:choice>
							<xs:element ref="processRule" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="activityRule" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="xsdRule" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="resourceRule" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="number-of-activity-by-process-error" minOccurs="0"/>
							<xs:element ref="global-variable-in-connection-definition-error" minOccurs="0"/>
							<xs:element ref="nested-loops" minOccurs="0"/>
							<xs:element ref="invalid-imports" minOccurs="0"/>
							<xs:element ref="transition-colors" minOccurs="0"/>
							<xs:element ref="process-call-depth" minOccurs="0"/>
							<xs:element ref="unlabelled-transitions" minOccurs="0"/>
							<xs:element ref="nested-transactions" minOccurs="0"/>
							<xs:element ref="recursive-calls" minOccurs="0"/>
							<xs:element ref="namespace-collisions" minOccurs="0"/>
							<xs:element ref="unknown-jms-properties" minOccurs="0"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
-->
			<xs:attribute name="project-name" type="xs:string"/>
			<xs:attribute name="timestamp" type="xs:dateTime"/>
			<xs:attribute name="duration" type="xs:decimal"/>
			<xs:attribute name="project-basedir" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="key" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="file" type="xs:string"/>
	<xs:element name="color" type="xs:string"/>
	<xs:element name="process" type="xs:string"/>
	<xs:element name="occurences" type="xs:unsignedLong"/>
	<xs:element name="activity" type="xs:string"/>
	<xs:element name="namespace" type="xs:string"/>
	<xs:element name="resource" type="xs:string"/>
	<xs:element name="property" type="xs:string"/>
	<xs:complexType name="RuleType">
		<xs:sequence>
			<xs:element ref="rc:rule" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="rr:data" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="param" type="rr:entry" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="result" type="rr:result" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="disabled" type="xs:boolean" use="required"/>
		<xs:attribute name="grade">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:maxInclusive value="100"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="general">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rr:RuleType">
					<xs:sequence>
						<xs:element name="number-of-processes" type="xs:unsignedInt" minOccurs="0"/>
						<xs:element name="number-of-activities" type="xs:unsignedInt" minOccurs="0"/>
						<xs:element name="number-of-files" type="xs:unsignedInt" minOccurs="0"/>
						<xs:element name="number-of-libs" type="xs:unsignedShort" minOccurs="0"/>
						<xs:element name="number-of-ears" type="xs:unsignedShort" minOccurs="0"/>
						<xs:element name="number-of-pars" type="xs:unsignedShort" minOccurs="0"/>
						<xs:element name="number-of-aars" type="xs:unsignedShort" minOccurs="0"/>
						<xs:element name="number-of-libbuilder" type="xs:unsignedShort" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="errors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:error" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error-name" type="xs:string"/>
				<xs:element name="rule" type="xs:string"/>
				<xs:element name="context" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="additional-data">
		<xs:complexType>
			<xs:all>
				<xs:element ref="rr:config" minOccurs="0"/>
				<xs:element ref="rr:files" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entry" type="rr:entry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="files">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rr:file" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="entry">
		<xs:all>
			<xs:element ref="rr:key"/>
			<xs:element ref="rr:value"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="result">
		<xs:sequence>
			<xs:element ref="rr:resource"/>
			<xs:element ref="rr:key"/>
			<xs:element ref="rr:value"/>
			<xs:element name="child" type="rr:child" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="child">
		<xs:sequence>
			<xs:element ref="rr:key"/>
			<xs:element ref="rr:value"/>
			<xs:element name="child" type="rr:child" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="data" type="xs:string"/>
</xs:schema>